{% extends "base.html" %}

{% block content %}
  <h1>Список споров</h1>
  <table>
    <thead>
      <tr>
        <th>Номер спора</th>
        <th>Заказ</th>
        <th>Статус</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      {% for dispute in cl.result_list %}
        <tr>
          <td>{{ dispute.id }}</td>
          <td>{{ dispute.order }}</td>
          <td>{{ dispute.status }}</td>
          <td>
            <a href="{% url 'admin:orders_dispute_change' dispute.id %}">Просмотр</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}


